* {
  box-sizing: border-box;
}


body {
  background-color: white;
}

#header {

    text-align : center;
    border : 3px solid black;
}

#display_title {

    width : 10%;
    text-align : center;
    border : 1px solid black;
}

#title {

    text-align : "center";
}

#columnLeft {
  float: left;
  padding: 1px;
  width: 25%;
}

#columnRight {
  float: left;
  padding: 1px;
  width: 75%;
}

#main_div:after {
  content: "";
  display: table;
  clear: both;
}

